@using ErpOnClick.DAL.Models
@{
    List<PmsProjectTasks> ProjectTasks = Model.ProjectTasks;
    var role = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role).Value;
    int userid = Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == "UserId").Value);

}

<div class="table-responsive pb-2">
    <table id="_dtList" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:20px">Id</th>
                <th style="width:260px">Project</th>
                <th>Task Name </th>
                <th>Progress</th>
                <th>Assigned To</th>
                <th>Assigned By</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th style="width:15px">Status</th>

                <th style="width:150px">Actions</th>

            </tr>
        </thead>
        <tfoot style="display:table-row-group">
            <tr class="text-center">
                <th>Id</th>
                <th>Project</th>
                <th>Task Name </th>
                <th>Progress</th>
                <th>Assigned To</th>
                <th>Assigned By</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>

                <td></td>

            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in ProjectTasks)
            {
                <tr class="text-center">
                    <td>@item.TaskId</td>
                    <td class="text-center">@(item.Project != null ? item.Project.ProjectName : null)</td>
                    <td class="text-left">@item.TaskName</td>
                    <td class="text-center">
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="@item.TaskCompletedPercentage" aria-valuemin="0" aria-valuemax="100" style="width: @item.TaskCompletedPercentage%">
                                @item.TaskCompletedPercentage%
                            </div>
                        </div>
                    </td>
                    <td class="text-center">@(item.AssignedTo != null ? item.AssignedTo.UserName : null)</td>
                    <td class="text-center">@(item.TaskCreatedByNavigation != null ? item.TaskCreatedByNavigation.UserName : null)</td>
                    <td class="text-center">@(item.TaskStartDate != null ? Convert.ToDateTime(item.TaskStartDate).ToString("dd-MMM-yyyy") : null)</td>
                    <td class="text-center">@(item.TaskEndDate != null ? Convert.ToDateTime(item.TaskEndDate).ToString("dd-MMM-yyyy") : null)</td>
                    <td>
                        @if (item.TaskStatus == "Complete")
                        {
                            <i class="fa fa-check text-green"></i>
                        }
                        else if (item.TaskStatus == "InComplete")
                        {
                            <i class="fa fa-spinner fa-spin text-orange"></i>
                        }
                        else if (item.TaskStatus == "Pending")
                        {
                            <i class="fa fa-spinner fa-spin text-warning"></i>
                        }
                        else if (item.TaskStatus == "Rejected")
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                    </td>
                    <td class="text-center padding-5">
                        <a href="@(item.TaskPublishedUrl != null ? item.TaskPublishedUrl : "javascript:void(0)")" target="_blank" data-toggle="tooltip" title="URL" class="btn btn-default btn-block btn-xs d-inline @(item.TaskPublishedUrl != null ? "" : "disabled")"><i class="fa fa-link text-maroon"></i></a>

                        <a href="javascript:void(0)" data-toggle="tooltip" title="Message" onclick="sendmsg('@item.TaskId')" class="btn btn-default btn-block btn-xs d-inline @(role == "Super Admin" ? "disabled" : "")"><i class="fa fa-comment-alt text-blue"></i></a>

                        <a href="javascript:void(0)" data-toggle="tooltip" title="Attachments" onclick="setattachmentModal('@item.TaskId')" class="btn btn-default btn-block  btn-xs  d-inline"><i class="fa fa-paperclip" style='color:#636835'></i></a>

                        <a href="javascript:void(0)" data-toggle="tooltip" title="Details" class="btn btn-default btn-block  btn-xs d-inline" onclick="details('@item.TaskId')"><i class="fa fa-search text-green"></i></a>

                        <a href="~/PMS/PMSProjectTasks/Edit/@item.TaskId" data-toggle="tooltip" title="Edit" class="btn btn-default btn-block  btn-xs  d-inline @(role=="Developer" && item.TaskCompletedPercentage==100 ? "disabled" : "")"><i class="fa fa-edit text-gray"></i></a>

                        <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-default btn-block btn-xs  d-inline @(role == "Developer" ? "hide-button" : "")" onclick="deleteItem('@item.TaskId')"><i class="fa fa-times text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .progress-bar {
        background-color: #8bd8bd !important;
        color: #f1f3df !important;
    }
</style>
@Html.Partial("/areas/PMS/Views/PMSProjectTasks/_detailsModal.cshtml")
@Html.Partial("/areas/PMS/Views/PMSProjectTasks/_attachmentModal.cshtml")
@Html.Partial("/areas/PMS/Views/PMSProjectTasks/_sendmsgModal.cshtml")

<script>
    $(function () {
        $('#Forms').addClass("menu-open");
        $('#Reports').removeClass("menu-open");
        _initDatatable('#_dtList');
    });

    function deleteItem(id) {
        confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
            if (result.value == true) {
                $.ajax({
                    url: "PMSProjectTasks/Delete",
                    async: false,
                    type: "POST",
                    data: { id },
                    success: function (data) {
                        if (data.result.isError != true) {
                            showMsg('Deleted !', 'Record has been deleted !', 'success');
                            setTimeout(function () {
                                window.location = 'PMSProjectTasks';
                            }, 500);
                        }
                        else if (data.result.msg != '') {
                            showMsg('Delete Failed !', data.result.msg, 'error');
                        }
                        else {
                            showMsg('Delete Failed !', 'Something went wrong. Try again', 'error');
                        }
                    }
                });
            }
        });
    }

    function details(id) {
        $.ajax({
            url: "PMSProjectTasks/GetDetails",
            type: "POST",
            data: { id: id },
            success: function (data) {

                if (data.result != null) {
                    var detailrow = "<tr class=text-center><td class=text-center>" + data.result.taskDesc + "</td></tr>";

                    $('#projecttaskdetails tbody').html(detailrow);

                    $('#_detailsModal').modal('show');
                }
                else {
                    showMsg('Details Failed !', 'Something went wrong. Try again', 'error');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

                console.log(textStatus, errorThrown);
            }
        });
    }

    function setattachmentModal(id) {
        $('#TaskId').val(id);
        $('#_attachmentModal').modal('show');
        $.ajax({
            url: "PMSProjectTasks/Attachments",
            type: "POST",
            data: { TaskId: id },
            success: function (data) {
                if (data.result != null) {
                    var row = "";
                    if (data.result.length > 0) {
                        $.each(data.result, function (key, value) {
                            row += "<tr class=text-center><td  class=text-center><span id=id >" + value.taskAttachmentId + "</span></td><td class=text-center>" + value.taskAttachmentName + "</td><td class='text-center padding-5'><a target=_blank href=/Files/" + value.taskAttachmentUrl + " class='btn btn-default btn-block btn-xs' ><i class='fa fa-eye'  style='color:#636835'></i></a></td><td class='text-center padding-5'><button class='btn btn-default btn-block btn-xs' onclick=deleteAttachment(" + value.taskAttachmentId + ")><i class='fa fa-times text-danger'></i></button></td></tr>"
                        });
                    }
                    else {
                        row = "<tr class=text-center><td colspan=4>Sorry! No Data Found.</td></tr>";
                    }
                    $('#_attachmentModal #dtList tbody').html(row);
                    $('#dtrow').show();
                }
                else {
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });

    }

    $('#formAttachment').on('submit', function (e) {
        e.preventDefault();
        $('#dtrow').show();
        var params = $('#formAttachment').serialize();
        var formEl = document.forms.formAttachment;
        var formData = new FormData(formEl);
        $.ajax({
            url: "PMSProjectTasks/AddAttachment",
            type: "POST",
            data: formData ? formData : params,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.result.isError != true) {
                    $('#submitresult').html(data.result.msg);
                    var row = "<tr class=text-center><td  class=text-center><span id=id >" + data.taskAttachmentId + "</span></td><td class=text-center>" + data.taskAttachmentName + "</td><td class='text-center padding-5'><a target=_blank href=/Files/" + data.taskAttachmentUrl + " class='btn btn-default btn-block btn-xs' ><i class='fa fa-eye'  style='color:#636835'></i></a></td><td class='text-center padding-5'><button class='btn btn-default btn-block btn-xs' onclick=deleteAttachment(" + data.taskAttachmentId + ")><i class='fa fa-times text-danger'></i></button></td></tr>"
                    $('#_attachmentModal #dtList tbody').append(row);
                    $('#addattachments').html("<span><i style='color: #8bd8bd !important;' class='fa fa-2x fa-paperclip'></i>Attachments</span>");
                }
                else {
                    $('#submitresult').html(data.result.msg);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    });

    function deleteAttachment(attachmentid) {
        $.ajax({
            url: "PMSProjectTasks/DeleteAttachment",
            type: "POST",
            data: { attachmentid: attachmentid },
            success: function (data) {
                if (data.result.isError != true) {
                    $("#_attachmentModal #dtList tbody tr").each(function () {
                        var row = $(this);
                        var itemname = row.find('#id').html();
                        if (itemname == data.deletedid) {
                            $(row).html("<td colspan=4> File Deleted</td>");
                        }
                    });
                    showMsg(data.result.msg);
                }
                else {
                    showMsg('Save Failed !', data.result.msg, 'error');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    $('#ManagerId').change(function (e) {
        GetConvo();
    });

    function sendmsg(id) {
        $('#PTaskId').val(id);
        getManagers(id);
        $('#_sendmsgModal').modal("show");
    }

    function getManagers(id) {
        $.ajax({
            url: "PMSProjectTasks/GetManagers",
            type: "POST",
            async: true,
            data: { TaskId: id },
            success: function (data) {

                if (data.result != null) {
                    var row = "";
                    $.each(data.result, function (key, value) {
                        row += "<option value=" + value.userId + ">" + value.userName + "</option>";
                    });

                    $('#ManagerId').html(row);
                    $('#ManagerId').change();
                }
                else {

                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

                console.log(textStatus, errorThrown);
            }
        });
    }

    function GetConvo() {
        $.ajax({
            url: "PMSProjectTasks/GetConvo",
            type: "POST",
            data: { TaskId: $('#PTaskId').val(), ManagerId: $('#ManagerId').val()},
            success: function (data) {
                if (data.result != null) {

                    var row = "";
                    if (data.result.length > 0) {
                        $.each(data.result, function (key, value) {
                            var bgcolor = "";
                            var borderleft = "";
                            if (key % 2 === 0) {
                                bgcolor = "bg-verylight";
                            }
                            else {
                                bgcolor = "bg-light";
                            }
                            if (value.sendByNavigation.userId == @userid) {
                                borderleft = "Message-border-left-send";
                            //    row += "<div class='row message-row col-md-12 p-3  text-grey " + bgcolor +"'><div class='col-md-10 text-justify text-right'><div class='job-info'><h5 class='fw-900'>" + value.sendByNavigation.userName + "</h5></div><div class='col-md-12 job-info'><div class=' job-info col-md-9 text-right' style='float:right !important'>" + value.message + "</div><div class='col-md-3' style='float:right !important'><p class='text-danger text-left' style='font-weight:bolder'> " + (Math.round(new Date(new Date() - new Date(value.date)) / 1000 / 60 / 60 / 24) == 0 || Math.round(new Date(new Date() - new Date(value.date)) / 1000 / 60 / 60 / 24) < 0 ? 'Today' : Math.round(new Date(new Date() - new Date(value.date)) / 1000 / 60 / 60 / 24) + ' days ago') + " </p></div></div></div><div class='col-md-2'><div class='company-logo' style='text-align:right;border:none !important;background:none !important'><img src=" + (value.sendByNavigation.userImageUrl != null ? '/Files/' + value.sendByNavigation.userImageUrl : '/adminlte/dist/img/dummyuser.png') + " style='" + (value.sendByNavigation.userImageUrl != null ? 'opacity:100%' : 'opacity:40%') + "  ;width: 65px;' alt='User' /></div></div></div>"
                            }
                            else {
                                borderleft = "Message-border-left-receive";

                            //    row += "<div class='row message-row col-md-12 p-3 text-grey " + bgcolor +"'><div class='col-md-2'><div class='company-logo' style='border:none !important;background:none !important'><img src=" + (value.sendByNavigation.userImageUrl != null ? '/Files/' + value.sendByNavigation.userImageUrl : '/adminlte/dist/img/dummyuser.png') + " style='" + (value.sendByNavigation.userImageUrl != null ? 'opacity:100%' : 'opacity:40%') + "  ;width: 65px;' alt='User' /></div></div><div class='col-md-10 text-justify'><div class='job-info'><h5 class='fw-900'>" + value.sendByNavigation.userName + "</h5></div><div class='col-md-12 job-info'><div class=' job-info col-md-9' style='float:left !important'>" + value.message + "</div><div class='col-md-3' style='float:right !important'><p class='text-danger text-right' style='font-weight:bolder'> " + (Math.round(new Date(new Date() - new Date(value.date)) / 1000 / 60 / 60 / 24) == 0 || Math.round(new Date(new Date() - new Date(value.date)) / 1000 / 60 / 60 / 24) < 0 ? 'Today' : Math.round(new Date(new Date() - new Date(value.date)) / 1000 / 60 / 60 / 24) + ' days ago') + " </p></div></div></div></div>"
                            }
                            row += "<div class='row message-row col-md-12 p-3 text-grey " + bgcolor + " " + borderleft + "'><div class='col-md-2'><div class='company-logo' style='border:none !important;background:none !important'><img src=" + (value.sendByNavigation.userImageUrl != null ? '/Files/' + value.sendByNavigation.userImageUrl : '/adminlte/dist/img/dummyuser.png') + " style='" + (value.sendByNavigation.userImageUrl != null ? 'opacity:100%' : 'opacity:40%') + "  ;width: 65px;' alt='User' /></div></div><div class='col-md-10 text-justify'><div class='job-info'><h5 class='fw-900'>" + value.sendByNavigation.userName + "</h5></div><div class='col-md-12 job-info pl-0'><div class=' job-info col-md-9 pl-0' style='float:left !important'>" + value.message + "</div><div class='col-md-3' style='float:right !important'><p class='text-danger text-right' style='font-weight:bolder'> " + (Math.round(new Date(new Date() - new Date(value.date)) / 1000 / 60 / 60 / 24) == 0 || Math.round(new Date(new Date() - new Date(value.date)) / 1000 / 60 / 60 / 24) < 0 ? 'Today' : Math.round(new Date(new Date() - new Date(value.date)) / 1000 / 60 / 60 / 24) + ' days ago') + " </p></div></div></div></div>"

                        });
                    }
                    else {
                        row = "Sorry! No Messages Found.";
                    }
                    $('#_sendmsgModal #Messages').html(row);
                }
                else {
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

                console.log(textStatus, errorThrown);
            }
        });
    }

    $('#formSendMsg').on('submit', function (e) {
        debugger
        e.preventDefault();
        var params = $('#formSendMsg').serialize();
        $.ajax({
            url: "PMSProjectTasks/SendMsg",
            async: false,
            type: "POST",
            data: params,
            success: function (data) {
                if (data.result.isError != true) {
                    showMsg('Sent !', 'Your Message has been sent!', 'success');
                    setTimeout(function () {
                        window.location = 'PMSProjectTasks';
                    }, 1000);
                }
                else {
                    showMsg('Sent Failed !', 'Something went wrong. Try again', 'error');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    });


</script>