@using ErpOnClick.DAL.Models
@using ErpOnClick.ErpMain.Resources
@inject LocService SharedLocalizer

@{

    DateTime? date = Model.attendanceDate;
    List<EmpAttendance> employeecheck = Model.employeecheck;
    var attendancechek = (employeecheck.Count != 0 ? employeecheck.FirstOrDefault().IsSaved : false);

}

@section TabName{
    Vacant jobs Setup
}
<style>


    .text {
        display: inline-block;
        padding: 0.5em 1em;
        min-width: 20em;
        line-height: 1.2em;
        background: #84ceeb;
        position: relative;
    }
</style>
<input type="hidden" name="attendancechek" id="attendancechek" value="@attendancechek" />


<div class="card card-default card-outline">

    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <h2 class="card-title">
                    @SharedLocalizer.GetLocalizedHtmlString("Emp Attendances")
                </h2>
            </div>

            <div class="col-md-3">
                <input type="text" placeholder="Attendance Date" value="@(date!=null ?Convert.ToDateTime(date).ToString("dd-MMM-yyyy") : "")" name="AttendanceDate" id="AttendanceDate" class="form-control DatePicker" />
            </div>
            <div class="col-md-3">
                <button class="btn  btn-sm btn-primary" onclick="getAttendanceByDate()"><i class="fal fa-search"></i>  @SharedLocalizer.GetLocalizedHtmlString("Search")</button>
                <button class="btn  btn-sm btn-primary" onclick="searchByDate()"><i class="fal fa-file-check"></i>  @SharedLocalizer.GetLocalizedHtmlString("Manual Attendance")</button>
            </div>


            <!-- tools box -->

            <div class="col-md-3 text-right ">
                <button id="importdata" onclick="importData()" type="button" class="btn btn-sm btn-primary">
                    <i class="fal fa-file-import "></i> @SharedLocalizer.GetLocalizedHtmlString("Import File")
                </button>
                <button onclick="saveAttendace()" @(employeecheck.Count == 0 ? "disabled" : "") type="button" class="btn  btn-sm btn-primary">
                    <i class="fal fa-plus "></i> @SharedLocalizer.GetLocalizedHtmlString("Save")
                </button>
           
            </div>

        </div>

        <!-- /. tools -->
    </div>
    <div id="AttendanceCheck" style="display:none;padding-top:10px;padding-bottom:0px;text-align:center;font-weight:600;letter-spacing:1px">
        <p style="margin-bottom:-40px">
            <span class="text"><strong class="">You did not submit Attendance for this day</strong></span>
        </p>
    </div>


    <div class="card-body">

        <div id="divList"></div>

    </div>
</div>

@Html.Partial("/areas/HumanResource/Views/EmpAttendances/_generalModalPartial.cshtml")

@section scripts{
    <script>
        $(function () {
            BindGrid();

            var attendancechek = $('#attendancechek').val();

            console.log(attendancechek);
            if (attendancechek == false) {
                $('#AttendanceCheck').show();

            }
        });
        var applicationName = getApplicationName();

        function getEmployees() {
            var attendaceDate = $('#AttendanceDate').val();

            $.ajax({
                url: applicationName + "HumanResource/EmpAttendances/GetEmployees",
                async: false,
                type: "POST",
                data: { date: attendaceDate },
                success: function (data) {
                    window.location = applicationName + 'HumanResource/EmpAttendances?attendanceDate=' + attendaceDate;
                }
            });
        };
        function searchByDate() {
            //var date = $('#AttendanceDate').val();
            var attendaceDate = $('#AttendanceDate').val();

            //if (date == "") {
            if (attendaceDate == "") {
                showMsg('Enter !', '!Date First');
            }
            else {

                $.ajax({
                    url: applicationName + "HumanResource/EmpAttendances/GetEmployees",
                    async: false,
                    type: "POST",
                    data: { date: attendaceDate },
                    success: function (data) {
                        window.location = applicationName + 'HumanResource/EmpAttendances?attendanceDate=' + attendaceDate;
                    }
                });

                //    BindGrid(date);
            }


        }

        function getAttendanceByDate() {
            //var date = $('#AttendanceDate').val();
            var attendaceDate = $('#AttendanceDate').val();

            //if (date == "") {
            if (attendaceDate == "") {
                showMsg('Enter !', '!Date First');
            }
            else {

                $.ajax({
                    url: applicationName + "HumanResource/EmpAttendances/GetAttendanceBydate",
                    async: false,
                    type: "POST",
                    data: { date: attendaceDate },
                    success: function (data) {
                        $('#divList').html(data);
                    }
                });

                //    BindGrid(date);
            }


        }

        function BindGrid(date) {
            date = (date == null ? $('#AttendanceDate').val() : date);
            $('#divList').html('<h5 class="margin-0"><p><i class="fa fa-spinner fa-spin fa-fw"></i> Please wait while data is loading...</p></h5>');
            $.ajax({
                url: applicationName + 'HumanResource/empattendances/_list',
                data: { date: date },
                success: function (data) {
                    $('#divList').html(data);
                }
            })
        };


        function saveAttendace() {
            confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
                if (result.value == true) {


                    var empAttendancesList = new Array();

                    $("#dtList tbody TR").each(function () {

                        var row = $(this);
                        var EmpAttendance = {};

                        if (row.find("#AllowanceTypeId").val() != "") {

                            var IsPresent = "IsPaidLeave-" + row.find('#EmpId').val();
                            console.log(row.find("#IsPresent").is(':checked'));
                            console.log(row.find("#IsPaidLeave").is(':checked'));
                            console.log(row.find("#IsUnpaidLeave").is(':checked'));
                            console.log(row.find("#IsShortLeave").is(':checked'));
                            EmpAttendance.EmpAttendanceId = parseInt(row.find("#EmpAttendanceId").val());
                            EmpAttendance.EmpId = parseInt(row.find('#EmpId').val());
                            EmpAttendance.AttendanceDate = ($("#AttendanceDate").val() == "" ? null : $("#AttendanceDate").val());
                            EmpAttendance.CreatedDate = ($("#CreatedDate").val() == "" ? null : $("#CreatedDate").val());
                            EmpAttendance.TimeIn = (row.find("#TimeIn").val() == "" ? null : row.find("#TimeIn").val());
                            EmpAttendance.Note = (row.find("#Note").val() == "" ? null : row.find("#Note").val());
                            EmpAttendance.TimeOut = (row.find("#TimeOut").val());
                            EmpAttendance.IsPresent = (row.find("#IsPresent").is(':checked') == true ? true : false);
                            EmpAttendance.IsPaidLeave = (row.find("#IsPaidLeave").is(':checked') == true ? true : false);
                            EmpAttendance.IsUnpaidLeave = (row.find("#IsUnpaidLeave").is(':checked') == true ? true : false);
                            EmpAttendance.IsShortLeave = (row.find("#IsShortLeave").is(':checked') == true ? true : false);

                            empAttendancesList.push(EmpAttendance);
                        }


                    });
                    var attendaceDate = $('#AttendanceDate').val();
                    $.ajax({
                        url: applicationName + "HumanResource/EmpAttendances/save",
                        data: { postedData: empAttendancesList },
                        async: false,
                        type: 'POST',

                        success: function (data) {

                            if (data.monthcheck == 1) {
                                showMsg('Failed !', 'Kindly mark the current month attendance !', 'error');

                            }
                            else {
                                if (data.result.isError != true) {
                                    showMsg('Saved !', 'Record has been saved !', 'success');
                                    setTimeout(function () {
                                        window.location = applicationName + 'HumanResource/EmpAttendances?attendanceDate=' + attendaceDate;
                                    }, 500);
                                }
                                else if (data.result.msg != '') {
                                    showMsg('Save Failed !', data.result.msg, 'error');
                                }
                                else {
                                    showMsg('Save Failed !', 'Something went wrong. Try again', 'error');
                                }
                            }
                        }
                    });
                }
            });

        }

        function importData() {
            $('#importdataModal').modal('show');
        }

        $('#formimportV').submit(function (e) {
            e.preventDefault();
            debugger;
            var ext = $('#AttendanceFile').val().split('.').pop().toLowerCase();
            if (!(ext == "xlsx" || ext == "xls" || ext == "csv")) {
                document.getElementById(this.id).value = "";
                showMsg("Invalid File Type !", "You may only upload Excel files. Please ensure your file is in one of these formats.", "error");
                isValidated = false;
            }
            else {
                var file = $("#AttendanceFile")[0].files[0];
                var reader = new FileReader();
                var excelData = [];
                var ImportData = Array();
                var _ImportData = {};
                var count = 0;
                var check = false;
                reader.onload = function (event) {
                    var data = event.target.result;
                    var workbook = XLSX.read(data, {
                        type: 'binary'
                    });

                    workbook.SheetNames.forEach(function (sheetName) {

                        // Here is your object
                        if (sheetName == "Sheet1") {

                            var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                            var row = "";
                            var ImportData = new Array();
                            $.each(XL_row_object, function (key, value) {

                                var DataRows = {};
                                DataRows.In = value.In;
                                DataRows.Out = value.Out;
                                ImportData.push(DataRows);
                                count = count + 1;
                                if (count == XL_row_object.length) {
                                    check = true;
                                }
                            });
                            var Data = {

                                IData: ImportData
                            };

                            if (check == true) {
                                sendData(Data);
                            }
                        }
                        else {

                        }
                    });
                };

                reader.onerror = function (ex) {
                    console.log(ex);
                };

                reader.readAsBinaryString(file);
            }
        });

        function sendData(Data) {

            $('#formimportV').find('#formsubmit').html('<i class="fa fa-spinner fa-spin fa-fw"></i> Please Wait, While Your Data is Importing...');
            $('#formimportV').find('#formsubmit').prop("disabled", true);
            var params = $('#formimportV').serialize();
            var formEl = document.forms.formimportV;
            var formData = new FormData(formEl);
            $.ajax({
                url: getApplicationName() + "HumanResource/EmpAttendances/ImportData",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData ? formData : params,
                success: function (data) {

                    if (data.result.isError == false) {
                        setTimeout(function () {
                            showMsg('Data Imported !', 'Data has been Imported !', 'success');
                            window.location.href = getApplicationName() + 'HumanResource/EmpAttendances';

                        }, 1000);
                        $('#formimportV').find('#formsubmit').html('<i class="fa fa-paperclip fa-fw"></i> Upload Now');
                        $('#formimportV').find('#formsubmit').prop("disabled", false);
                    }
                    else if (data.result.isError == true) {
                        setTimeout(function () {
                            showMsg('Error !', data.result.msg, 'error');

                        }, 1000);
                        $('#formimportV').find('#formsubmit').html('<i class="fa fa-paperclip fa-fw"></i> Upload Now');
                        $('#formimportV').find('#formsubmit').prop("disabled", false);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }

    </script>
}
