@using ErpOnClick.ErpMain.Resources

@inject LocService SharedLocalizer

@{
    string _baseUrl = Convert.ToString(ViewData["baseUrl"]);
}

<ul id="js-nav-menu" class="nav-menu">
 
    <li class="active">
        <a href="#" title="Category" data-filter-tags="category">
            <i class="fal fa-sitemap"></i>
            <span class="nav-link-text" data-i18n="nav.category">@SharedLocalizer.GetLocalizedHtmlString("Category")</span>
        </a>
        <ul>
            <li>
                <a href="@(_baseUrl)category/action" title="Menu child" data-filter-tags="utilities menu child">
                    <span class="nav-link-text" data-i18n="nav.utilities_menu_child">@SharedLocalizer.GetLocalizedHtmlString("AddNewCategory") </span>
                </a>
            </li>
            <li>
                <a href="@(_baseUrl)category" title="Menu child" data-filter-tags="utilities menu child">
                    <span class="nav-link-text" data-i18n="nav.utilities_menu_child">@SharedLocalizer.GetLocalizedHtmlString("CategoryList")</span>
                </a>
            </li>
        </ul>
    </li>
 
</ul>