@using ErpOnClick.DAL.Models
@{
    List<PmsUser> Users = Model.Users;
}

<div class="table-responsive pb-2">
    <table id="dtList" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:20px">Id</th>
                <th>User Name </th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Role</th>
                <th>Company</th>

                <th style="width: 50px">Actions</th>

            </tr>
        </thead>
        <tfoot style="display:table-row-group">
            <tr class="text-center">
                <th>Id</th>
                <th>User Name </th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Role</th>
                <th>Company</th>
                <td></td>

            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Users)
            {
                <tr class="text-center">
                    <td>@item.UserId</td>
                    <td class="text-left">@item.UserName</td>
                    <td class="text-center">@item.UserEmail</td>
                    <td class="text-center">@item.UserContact</td>
                    <td class="text-center">@item.UserRole</td>
                    <td class="text-center">@(item.Company != null ? item.Company.CompanyName : null)</td>
                    @*<td class="text-center">@(item.UserManager != null ? item.UserManager.UserName : null)</td>*@
                    <td class="text-center padding-5">
                        <a href="~/PMS/PMSUsers/Edit/@item.UserId" class="btn btn-default btn-block  btn-xs  d-inline"><i class="fa fa-edit"></i></a>

                        <a href="javascript:void(0)" class="btn btn-default btn-block btn-xs  d-inline" onclick="deleteItem('@item.UserId')"><i class="fa fa-times text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $(function () {
        $('#Forms').addClass("menu-open");
        $('#Reports').removeClass("menu-open");
        _initDatatable('#dtList');
    });



    function deleteItem(id) {
        confirmAction('Confirm ?', 'Are you sure you want to save changes ?', 'info', 'Yes', 'No').then(function (result) {
            if (result.value == true) {

                $.ajax({
                    url: "~/PMS/PMSUsers/Delete",
                    async: false,
                    type: "POST",
                    data: { id },
                    success: function (data) {
                        if (data.result.isError != true) {
                            showMsg('Deleted !', 'Record has been deleted !', 'success');
                            setTimeout(function () {
                                window.location = '~/PMS/PMSUsers';
                            }, 500);
                        }
                        else if (data.result.msg != '') {
                            showMsg('Delete Failed !', data.result.msg, 'error');
                        }
                        else {
                            showMsg('Delete Failed !', 'Something went wrong. Try again', 'error');
                        }
                    }
                });
            }
        });
    }

</script>